<div class="container styling test">
    <mat-card>
        <mat-icon>person</mat-icon>Profile</mat-card><br>
    <mat-form-field appearance="outline" color="accent" style="width:335px">
        <mat-label>Enter your name
        </mat-label>
        <input [(ngModel)]="name" name="name" matInput placeholder="SANGU LAVAKUMAR">
        <mat-hint>Min 5 characters</mat-hint>
    </mat-form-field><br>
    <mat-form-field appearance="outline" style="width:335px">
        <mat-label>Enter your email
            <mat-icon>email</mat-icon>
        </mat-label>
        <input [(ngModel)]="email" name="email" matInput placeholder="pat@example.com" required>
    </mat-form-field><br>

    <button mat-raised-button color="primary" (click)="buttonClicked()">Add<mat-icon>person_add</mat-icon></button>
    <h3> {{deletedData | json}} </h3>
    <div>
        <app-data-viewer (removedData)="deletedData=$event" [userData]="rows"></app-data-viewer>
    </div>
</div>