<div class="test">
    <h1 style="text-align: center;"> {{text.name}} Enter Your Details </h1>
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">SANGU</span>
                    <span class="text-black-50">lsangu@mail.com.my</span><span> </span></div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" style="width:360px !important">
                                <mat-label>Enter your Firstname
                                </mat-label>
                                <input matInput placeholder="Name" required>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <mat-form-field appearance="outline" style="width:360px !important">
                                <mat-label>Address Line 1
                                </mat-label>
                                <input matInput placeholder="enter address line 1" required>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field appearance="outline" style="width:360px !important">
                                <mat-label>Address Line 2
                                </mat-label>
                                <input matInput placeholder="enter address line 2" required>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field appearance="outline" style="width:360px !important">
                                <mat-label>Postcode
                                </mat-label>
                                <input matInput placeholder="enter address line 2" required>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field appearance="outline" style="width:360px !important">
                                <mat-label>State
                                </mat-label>
                                <input matInput placeholder="enter address line 2" required>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field appearance="outline" style="width:360px !important">
                                <mat-label>Area
                                </mat-label>
                                <input matInput placeholder="enter email id" required>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field appearance="outline" style="width:360px !important">
                                <mat-label>Email
                                </mat-label>
                                <input matInput placeholder="Enter " required>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field appearance="outline" style="width:360px !important">
                                <mat-label>Education
                                </mat-label>
                                <input matInput placeholder="education" required>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="mt-5 text-center"><button mat-raised-button color="primary" type="button">Save Profile</button></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                    <div class="col-md-12">
                        <mat-form-field appearance="outline" style="width:260px !important">
                            <mat-label>Experience
                            </mat-label>
                            <input matInput placeholder="experience" required>
                        </mat-form-field>
                    </div> <br>
                    <div class="col-md-12">
                        <mat-form-field appearance="outline" style="width:260px !important">
                            <mat-label>Additional Details
                            </mat-label>
                            <input matInput placeholder="enter details" required>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>