<div class="row">
    <div class="col-3">
        <div class="sidenav">
            <a href="#" routerLink="/login" routerLinkActive="active">login</a>
            <a href="#" routerLink="/profile" routerLinkActive="active">Profile</a>
            <a href="#" routerLink="/settings" routerLinkActive="active">settings</a>
            <a href="#" routerLink="/users" routerLinkActive="active">users</a>
            <a href="#" routerLink="/data" routerLinkActive="active">Data</a>
        </div>
    </div>
</div>