.navbar {
    width: 100%;
    position: sticky;
    top: 0;
    font-size: 150%;
}

.navbar-brand {
    height: 60px;
    width: 12%;
    margin-left: -10%;
}

.nav-item {
    font-family: 'Courier New', Courier, monospace;
}