<div class=".col-md-8 test">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="/assets/images/KPT.jpg" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">DISCOVERY PLATFORM for Mobile Moments</h1>
            <p>KPT is a global leader in innovative language technology offerings for mobile consumers.</p>
            <a class="btn btn-primary" href="https://www.keypoint-tech.com/">Know More</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
            <strong class="heading-bolder">About Us</strong>
            <p class="text-white m-0">Founded in 2004, KeyPoint Technologies is the leader in AI, NLP, input & language technology space. Currently on more than 100 million devices, KPT is a trusted partner to OEMs, Operators, and App Developers for developing intelligent interfaces,
                engines & input experiences.</p>
        </div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Xploree AI Keyboard</h2>
                    <p class="card-text">World’s 1st AI powered multilingual mobile keyboard application that understands user’s intent/interest and recommends useful content in real time. Xploree supports over 180 global and indic languages. Powered by AI & ML, Xploree augments
                        digital advertising efforts, by connecting multilingual users to products and services while they chat, type and browse on their smartphones.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.xploree.com/">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Transflow</h2>
                    <p class="card-text">“Pioneers, in the language technology space, Transflow offers end-to-end localization services that help companies attain their communication, marketing and revenue goals. Transflow offers a unique combination of linguistic science,
                        natural language processing, and computational linguistics, along with full power linguist support to help companies reach-out to a wider market.”</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.transflow360.com/">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Cerina Studio</h2>
                    <p class="card-text">“Cerina Studio’s Conversational App Development Platform brings richness to conversations with a wide range of features by leveraging advanced Artificial Intelligence (AI), Machine Learning (ML) and Natural Language Processing (NLP)
                        algorithms. Cerina Studio offers the right mix of smart, futuristic technologies covering NLP, Behavioral AI, Smart ERP and Interactive Conversational assistants that can help the convergence of these technologies with modern consumer
                        products that engages and elevates the lifestyle experiences of today’s consumers.”</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.cerinastudio.com/">More Info</a></div>
            </div>
        </div>
    </div>
    <footer class="py-5 bg-dark" id="footer-width">
        <div class="container px-4 px-lg-5">
            <p class="m-0 text-center text-white">Copyright &copy; KEYPOINT TECHNOLOGIES 2021</p>
        </div>
    </footer>